<!-- settlement_list.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settlement List</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>

<body>
    <h1>Expense Group List</h1>
    <ul>
        {% for expense_group in expense_groups %}
        <li>
            Group name: {{ expense_group.group_name }} <br>
            Members: {{ expense_group.group_name }} <br>

        </li>
        {% endfor %}
    </ul>
</body>

</html>